*{
    margin:0;
    padding:0;
}
.footer{  
 background-color: rgb(151, 146, 146); 
 width:98vw;
 height:10vh;
}
.footer ul{
    list-style-type: none;
    padding-left:0
}
.footer ul li{
    display:inline-block;
    margin:5px;
}
.footer ul li a{
    text-decoration:none;
    color:black
}


/* Homepage */

.mainContent{
    margin:5px 5px 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:98vw;
    height:75vh;
}

.item{
    border: 1px solid black;
    margin: 10px 20px;
    width: 20vw;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}





/*Header*/

.header{
    border: 1px solid rgb(151, 146, 146);
    background-color: rgb(151, 146, 146);
    width:98vw;
    height:10vh;
    margin:5px;
    font-size: 20px;
    padding-top:10px;
}


/*

Icons

*/

.summaryicon{
    object-fit: contain;
    width:15vw;
    height:15vh;
}